In [16]:
def loadMPCorb(filename):

    asteroid=dict()
    MPC = open(filename, "r", encoding="latin-1")
    content=MPC.readlines()
    #skip headers comments
    try:
            i=0
            while content[i].find('----------'):
                i += 1
            content=content[i+1:]
    except:
            pass
    n = 0
    for ast in content:
        n += 1
        if True:
            try:
                designation=ast[:7]
                try:
                    H=float(ast[8:12]),
                    G=float(ast[15:19]),
                    asteroid[designation] = tuple(ast[8:104].split())
                except:
                    #print "Not H,G magnitudes. Setting to standard values 0.0 0.15:",designation
                    if len(ast)>80:
                            asteroid[designation] = tuple([0e0,0.15]+ast[20:104].split())
            except:
                print("Error loading line")
                pass

    print("MPC catalogue has been read. Total readed asteroids %s of %s",len(asteroid),n)

    return asteroid

In [20]:
import pandas as pd

In [35]:
df1=pd.DataFrame(loadMPCorb("var/catserver/DATEDMPCORB/MPCORB.DAT"))
df1=df1.transpose()

MPC catalogue has been read. Total readed asteroids %s of %s 1439157 1439159

In [36]:
df2=pd.DataFrame(loadMPCorb("var/catserver/DATEDMPCORB/K25D06E.mpcorb"))
df2=df2.transpose()

MPC catalogue has been read. Total readed asteroids %s of %s 26104 26104

In [41]:
df1.merge(df2,how='right',indicator=True)

,0,1,2,3,4,5,6,7,8,9,_merge
0,7.49,0.15,K2555,44.72456,182.64799,211.03056,1.57334,0.1578698,0.25812734,2.4429432,both
1,6.54,0.15,K2555,337.16976,257.33743,205.97787,0.70931,0.1438882,0.26364274,2.4087525,both
2,7.51,0.15,K2555,244.35056,195.72875,45.70462,3.55458,0.0885165,0.22764764,2.6564029,both
3,8.49,0.15,K2555,66.64571,338.75873,8.36128,1.85104,0.3322897,0.20215399,2.8752868,both
4,8.69,0.15,K2555,271.58404,215.14200,352.99226,7.86054,0.2177678,0.18886022,3.0086781,both
...,...,...,...,...,...,...,...,...,...,...,...
26099,25.43,0.15,K2555,83.03123,274.47935,172.87212,1.90708,0.3299226,0.64832231,1.3221338,right_only
26100,20.07,0.15,K2555,147.19069,276.91432,112.50934,21.48783,0.0888759,0.38635729,1.8669957,right_only
26101,19.86,0.15,K2555,359.67439,212.22241,332.11549,21.93605,0.1956344,0.27737010,2.3286075,right_only
26102,23.66,0.15,K2555,61.84700,294.27418,163.79789,11.30118,0.3317557,0.45562356,1.6726251,right_only
26103,22.51,0.15,K2555,5.36416,7.30346,195.11440,6.16316,0.6224189,0.21046728,2.7990651,right_only

In [38]:
df2.shape

(26104, 10)